@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #B7E0E1;
    justify-content: center;
    text-align: center;
}

#title{
    font-family: 'Shadows Into Light', cursive;
    font-weight: bolder;
    font-size: 4.5rem;
    color: #13273E;
    margin: 2rem 0 3rem;
}

.sound-buttons{
    font-family: 'Inter', sans-serif;
    font-size: 1.8rem;
    font-weight: bolder;
    border: none;
    border-radius: 10%;
    border: solid 2px #13273E;
    width: 11rem;
    height: 11rem;
    margin: 1rem 2rem 2rem;
}

.sound-buttons:hover{
    cursor: pointer;
    border: solid 3px white;
    transition-duration: 250ms;
}

.sound-buttons:active{
    border: solid 4px white;
}

.omgb{
    background-image: url("Images/omgb.jpg");
    color: white;
    background-size: cover;
}

.slowAugh{
    background-image: url("Images/augghh.png");
    background-size: cover;
    color: white;
}

.hellNah{
    background-image: url("Images/hellNaw.png");
    background-size: cover;
    color: white;
}

.android{
    background-image: url("Images/samsung.jpeg");
    background-size: cover;
    color: black;
}

.ohio{
    background-image: url("Images/ohioTarkibi.png");
    background-size: cover;
    color: white;
}

.wth{
    background-image: url("Images/wth.png");
    background-size: cover;
    color: white;
}

.nokia{
    background-image: url("Images/nokia.png");
    background-size: cover;
    color: black;
}

.slipping{
    background-image: url("Images/slipping.png");
    background-size: cover;
    color: black;
}

.shutcho{
    background-image: url("Images/shutcho.png");
    background-size: cover;
    color: white;
}

.reset{
    font-family: 'Inter', sans-serif;
    display: block;
    background-color: aliceblue;
    width: 7rem;
    height: 3rem;
    margin: 2rem auto 0;
    font-size: 1.4rem;
    border: solid 2px #13273E;
    border-radius: 10px;
}

.reset:hover{
    cursor: pointer;
    background-color: red;
    color: aliceblue;
    border-color: aliceblue;
    transition-duration: 0.3s;
}

.reset:active{
    width: 6.9rem;
    height: 2.9rem;
    transition-duration: 100ms;
}

#footer{
    font-family: 'Inter', sans-serif;
    font-weight: bolder;
    color: #13273E;
    margin: 4rem auto 0.5rem;
}

@media (max-width: 800px){

    .sound-buttons{
        font-family: 'Inter', sans-serif;
        font-size: 1.8rem;
        font-weight: bolder;
        border: none;
        border-radius: 10%;
        border: solid 2px #13273E;
        width: 8rem;
        height: 8rem;
        margin: 1rem 1.4rem 2rem;
    }
}